body {
  font-family: sans-serif;
  background-color: white;
}

.welcome {
  position: absolute;
  align-items: center;
}

.menu {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hamburger {
    width: 100px;
    height: 100px;
    background: rgb(21, 54, 199);
    color: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .hamburger div {
    background-color: rebeccapurple;
    height: 10px;
    width: 70%;
    margin: auto;
  }
  
  li {
    list-style-type: none;
    margin-bottom: 1em;
  }
  
  a {
    text-decoration: none;
    color: rebeccapurple;
    text-shadow: 1px 1px 2px darkgrey;
    font-size: 2.5em;
  }
  a:hover {
    color: ghostwhite;
  }

  /* Combining the two CSS files */

  /* Possibly need to look into using an addEventListener in Javascript instead of pure keyframe a