/* Roronoa Zoro Colors
    #4d19e4
    #7715df
    #e396fe
    #b02fe6
    #31e450
    #25d259
    from video https://www.youtube.com/watch?v=Ub45-NcZnmY&list=PLYJwqrGLQI2J4wBJ-_8c1vVCqgKfhKR9M&index=18
*/

nav {
    position: relative;
    top: -10px;
    margin-left: -10px;
    text-align: center;
    font-family: sans-serif;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline;
    padding: 200px;
}

nav a {
    font-size: 1.5em;
    color: blue;
}

.page{
    background-color: black;
    height: 90vh;
    position: relative;
}

.question{
    position: absolute;
    text-align: center;
    z-index: 7;
    background-color: white;
    border: 5px solid black;
    top: 25vh;
    left: 25vw;
    height: 40vh;
    width: 50vw;
}
.question h1 p {
    position: relative;
    top: 10vh;
    font-family: sans-serif;
    text-align: center;
    font-size: 4vh;
    /* width: 4vw; */
    /* height: 4%; */
    /* font-size: 4em; */
}

p {
    /* position: relative;
    text-align: center; */
    /* top: 10vh; */
    font-family: sans-serif;
    font-size: 6vh;
    /* want to look at shifting the text down */
}

#top{
    position: static;
    z-index: -1;
}

.answer1{
    /* position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 50%;
    background: red;
    border: solid #000;
    border-width: 0 10px 10px 0; */

    /* background-color: #31e450; */
    background-color: #23f64c;
    /* background-color: #20e447; */
    float: left;
    font-family: sans-serif;
    height: 450px;
    height: 50vh;
    width: 50%;
    z-index: -1;
}

.answer2{
    background-color: #ff0055;
    background-color: #fb106e;
    float: right;
    font-family: sans-serif;
    height: 50vh;
    width: 50%;
    z-index: -1;
}

.bottom{
    display: inline;
    border-top: 10px solid white;
}

.answer3{
    /* background-color: #7715df; */
    /* background-color: #da1af3; */
    background-color: #3603a2;
    float: right;
    font-family: sans-serif;
    height: 450px;
    height: 50vh;
    height: 50%;
    width: 50%;
    z-index: -1;
}

.answer4{
    background-color: #ff8834;
    float: left;
    font-family: sans-serif;
    height: 450px;
    height: 50vh;
    height: 50%;
    width: 50%;
    z-index: -1;
}

/* h3 {
    position: sticky;
    z-index: 2;
    top: 25%;
    left: 45%;
} */

.answer1 h2 {
    color: black;
    position: absolute;
    top: 10%;
    left: 10%;
}

.answer2 h2 {
    color: #00ffaa;
    position: absolute;
    top: 10%;
    right: 13%
}

.answer3 h2 {
    /* color: white; */
    color: #e4dbe4;
    /* color: #d391d7;
    color: #fff4ff; */
    position: absolute;
    top: 80%;
    left: 75%;
}

.answer4 h2 {
    color: #000bd5;
    position: absolute;
    top: 80%;
    left: 10%;
}